.project_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 90vh;
}
.project_one_box,
.project_tow_box {
  padding-left: 1rem;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  color: #bebebd;
  font-size: 1rem;
}
.technology_box {
  color: aquamarine;
}
.technology_box span {
  margin-top: 0.5rem;
  color: #bebebd;

  display: block;
}
.project_one,
.project_tow {
  position: relative;
  width: 200px;
  height: 120px;
  transform-style: preserve-3d;
  animation: rotate 40s linear infinite;
  animation-timing-function: linear;
}
.project_one:hover,
.project_tow:hover {
  animation-play-state: paused;
}

@keyframes rotate {
  0% {
    transform: perspective(900px) rotateX(0deg);
  }
  100% {
    transform: perspective(1000px) rotateX(360deg);
  }
}
.project_one span,
.project_tow span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateX(calc(var(--i) * 45deg)) translateZ(220px);
}
.project_one span img,
.project_tow span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  transition: 1s;
  border: 3px solid aquamarine;
  padding: 3px;
}
.project_one span:hover img,
.project_tow span:hover img {
  transform: scale(1.2);
}
