/** @format */

.navBar {
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  height: 50px;
}

.navBar a {
  color: #d0cdcd;
  padding: 1%;
  font-size: 0.9rem;
  margin-top: 5px;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  width: 230px;
}

.navBar a:hover > .disable {
  color: #7fffd4;
  font-size: 1.2rem;
}
.navBar a:hover > .active_link {
  font-size: 0.9rem;
}
.active_link {
  transition: all 0.5s;
}
.active,
.disable {
  padding: 0.5rem;
}
.active {
  color: #7fffd4;
  transition: all 0.5s;
}
.disable {
  color: #d0cdcd8e;
  font-size: 1rem;
  transition: all 0.3s;
}
.portfolio_name {
  padding: 1rem;
  height: 50px;
  animation-name: flipName;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  cursor: default;
}
.portfolio_name:hover {
  animation-play-state: paused;
}
@keyframes flipName {
  0% {
    transform: scale(0.4);
  }
  25% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(20px);
  }
  75% {
    transform: translateX(0);
  }
  100% {
    transform: scale(1);
  }
}
