.welcome_header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(6, 4, 32);
  color: rgb(143, 143, 143);
  padding-left: 3rem;
  margin: 2rem;
  gap: 1.5rem;
}
.header_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  transition: transform 0.3s ease-in;
}
.header_hello,
.open_tag,
.close_tag {
  color: aquamarine;
  font-size: 1.1rem;
}
.header_box:hover {
  transform: translateX(30px);
}

.header_hello {
  font-size: 0.7rem;
  word-spacing: 3px;
  letter-spacing: 2px;
}
.backend {
  color: #d0cdcd;
}
.frontend {
  color: #97ca1f;
}
.header_name {
  color: #d0cdcd;
}
.header_hello {
  color: #d0cdcd;
  font-size: 1.5rem;
  letter-spacing: 3px;
}
