.welcome_box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.welcome_header {
  height: 100vh;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  color: #d0cdcd;
}
.welcome_image {
  transform: translateX(-150px);
}
.header_box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: transform 0.3s ease-in;
}
.open_tag,
.close_tag {
  color: aquamarine;
  font-size: 1.1rem;
}
.header_box:hover {
  transform: translateX(30px);
}

.header_hello {
  font-size: 0.7rem;
  word-spacing: 3px;
  letter-spacing: 2px;
}
.backend {
  color: #f33c3c6e;
}
.frontend {
  color: #97ca1f65;
}

.header_hello {
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.header_CV_btn svg {
  margin-left: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
}
.change_page {
  align-self: flex-end;
}

.welcome_image h3 {
  margin-bottom: 1.5rem;
}
.images_box {
  margin-left: 0.5rem;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.tag {
}
.tag_img {
  color: rgba(191, 194, 31, 0.555);
}
.tag_src {
  color: #f33c3c6e;
}
.tag_alt {
  color: #97ca1f65;
}
