.change_page {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  transform: translateY(30vh);
}
.change_page i {
  color: #ffffff;
  font-size: 3rem;
  cursor: pointer;
}

.on_click:active {
  transform: scale(0.95);
}
