.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  color: #d0cdcd;
  padding-left: 3rem;
  width: 50vw;
}
.about p {
  color: #7e7e7d;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 1rem;
}
