.welcome_box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.my_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.my_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  transform: scale(1.7) translateY(20px);
}
.welcome_header {
  height: 100vh;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  color: #d0cdcd;
  transform: translateY(-50px);
}
.welcome_image_tag {
  transform: translate(-150px, 100px);
}
.welcome_images_info_tag {
  transition: all 1s ease-in-out;
  opacity: 0.8;
}
.welcome_image_tag:hover > .welcome_images_info_tag {
  transform: translateX(555px);
  opacity: 0;
}
.welcome_image_tag:hover > .welcome_images {
  transform: translateY(-230px);
  opacity: 0.8;
}
.welcome_images {
  transform: translateY(200px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 300px;
  gap: 0.5rem;
  transition: all 1s ease-in-out;
  opacity: 0;
}

.header_box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: transform 0.3s ease-in;
}
.open_tag,
.close_tag {
  color: #7fffd4;
  font-size: 1.1rem;
}
.header_box:hover {
  transform: translateX(30px);
}

.header_hello {
  font-size: 0.7rem;
  word-spacing: 3px;
  letter-spacing: 2px;
}
.backend {
  color: #f33c3c6e;
}
.frontend {
  color: #97ca1f65;
}

.header_hello {
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.header_CV_btn svg {
  margin-left: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
}
.change_page {
  align-self: flex-end;
}

.welcome_image_tag h3 {
  margin-bottom: 1.5rem;
}
.images_box {
  margin-left: 0.5rem;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.tag {
}
.tag_img {
  color: rgba(191, 194, 31, 0.555);
}
.tag_src {
  color: #f33c3c6e;
}
.tag_alt {
  color: #97ca1f65;
}
.image img {
  width: 80px;
  height: 80px;
}
