.about {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  color: #d0cdcd;
  transform: translateY(100px);
  width: 95%;
}
.about_more_info {
  display: block;
}

.education_experiences {
  width: 70%;
}

.skills_interests_box {
  width: 30%;
}
.about_paragraph,
.skills_interests {
  padding: 0 1rem;
}
.about_paragraph {
  margin-left: 2rem;
}
.about_paragraph h1,
h2 {
  margin-bottom: 1rem;
  color: #7fffd4;
}
.about_paragraph p {
  color: #bebebd;
  font-size: 1rem;
  margin: 0 0 1rem;

}
.about_more_info {
  display: flex;
}
.about_more_info p span {
  display: block;
}
.education p {
  margin-bottom: 0.5rem;
}
.skills_interests ul,
.experiences ul {
  list-style: none;
  margin: 0.5rem 0;
}
.skills_interests ul li,
.experiences ul li {
  padding: 0;
  margin: 0.5rem 0;
  font-size: 1rem;
}
.experiences h2 {
  margin-bottom: 0;
}
.experiences ul li {
  font-size: 0.7rem;
  width: 70%;
  color: #bebebda9;
}
.experiences ul li span {
  letter-spacing: 1.1px;
  line-height: 1.5;
}
.experiences ul li h3 {
  padding-bottom: 0.5rem;
}
