.center {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.information_box {
  align-self: flex-start;
  margin: 2rem 0 0 1rem;
}
.information_list ul {
  list-style: none;
  padding: 1rem;
}
.information_list ul li {
  margin-bottom: 1rem;
}
.information_list ul li i,
a {
  padding-right: 1rem;
}
.information_list ul li i svg,
a svg {
  color: #7fffd4;
}
.emailForm {
  height: 70vh;
  width: 35vw;
  margin: 2rem 0 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border: 2px solid #7fffd4;
}
.warning {
  margin: 2rem 0 0 1rem;
  color: #e74141;
}
.emailForm h1 {
  padding: 0.5rem 0;
}
.emailForm input[type="email"],
input[type="text"] {
  height: 30px;
  font-size: 1rem;
  border: none;
  color: #d0cdcd8e;
  background-color: inherit;
  border-bottom: 1px solid #7fffd4;
  padding: 1.5rem 0.5rem;
  width: 90%;
}

.emailForm textarea {
  padding: 0.5rem;
  height: 100px;
  font-size: 1rem;
  color: #d0cdcd8e;
  width: 90%;
  border: none;
  background-color: inherit;
  border-bottom: 1px solid #7fffd4;
}
input[type="email"],
input[type="text"],
textarea:focus {
  outline: none;
}

input[type="submit"] {
  width: 35%;
  cursor: pointer;
  align-self: center;
  height: 3rem;
  font-size: 1.2rem;
  color: #d0cdcd8e;
  background-color: inherit;
  border: 2px solid #7fffd4;
  margin-bottom: 0.5rem;
}

@keyframes ldio-9c1aqzrcjvl {
  0% {
    background: #7fffd4;
  }
  12.5% {
    background: #7fffd4c5;
  }
  12.625% {
    background: #181727b9;
  }
  100% {
    background: #7fffd4d3;
  }
}

.ldio-9c1aqzrcjvl div {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #060420;
  animation: ldio-9c1aqzrcjvl 1s linear infinite;
}
.loadingio-spinner-blocks-flmttbazwc5 {
  height: 70vh;
  width: 35vw;
  display: inline-block;
  overflow: hidden;
  margin: 2rem 0 0 1rem;
}
.ldio-9c1aqzrcjvl {
  width: 100%;
  height: 100%;
  transform: translateY(25%) translateX(25%);
  backface-visibility: hidden;
}
